@using System.Security.Policy
@model TvTuner.Controllers.IndexModel

@{
    ViewBag.Title = "Home Page";
    
}

<script type="text/javascript">

    $(document).ready(function () {
        $("a.vidLink").on("click", function (e) {
            e.preventDefault();

            $("video").children().remove();
            $("video").append("<source src=\"" + $(this).prop("href") + "\" type='video/mp4'>");
        });
    });
</script>

<div class="col-md-2">
    <div class="hidden-print affix bs-sidebar" role="complementary"  >
        <ul class="nav bs-sidenav" id="genreList" >
            @foreach (var category in Model.Series.Where(c => c.Value.Count > 0)) {
                <li>
                    <a href="#@category.Key.Replace(' ', '-')">@category.Key</a>
                </li>
            }
        </ul>
    </div>

</div>

<div class="col-md-10"  >
    
    @foreach (var category in Model.Series.Where(c=>c.Value.Count> 0)) {

        
                <h3 class="text-center" id="@category.Key.Replace(' ', '-')"   >
                    @category.Key
                </h3>
            
                    <div id="carousel-@category.Key.Replace(' ', '-')" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-@category.Key.Replace(' ', '-')" data-slide-to="0" class="active"></li>
                            @for (var i = 1; i < category.Value.Count; i++) {
                                <li data-target="#carousel-@category.Key.Replace(' ', '-')" data-slide-to="@i" title="@category.Value[i].Name"></li>
                            }

                        </ol>

                        <div class="carousel-inner">
                            @for (var i = 0; i < category.Value.Count; i++) {
                                <div class="item @(i == 0 ? "active" : "")">
                                    <div class="text-center">
                                        <a href="@Url.Action("Show", new { id = category.Value[i].SeriesID })">
                                            <img class="img-rounded" src="@Url.Action("GetSeriesBanner", "Home", new { id = category.Value[i].SeriesID })"/></a>
                                    </div>
                                </div>
                            }
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-@category.Key.Replace(' ', '-')" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-@category.Key.Replace(' ', '-')" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>



    }

</div>

