@model TvTuner.Controllers.ShowModel

<div class="">
    <img class="img-rounded" src="@Url.Action("GetSeriesBanner", new { id = @Model.Series.SeriesID })"/>
</div>
<div>
    @Model.Series.Summary
</div>
<div>
    <a class="btn btn-primary" href="@Url.Action("RandomEpisode", new { id = @Model.Series.SeriesID })">Random Episode</a>
</div>

@{
    var lastSeason = -1;
    foreach (var episode in Model.Episodes) {
        if (episode.Season > lastSeason) {
            lastSeason = episode.Season;
    <h1>@(lastSeason != 0 ? "Season " + lastSeason : "Special Features") </h1>
    <hr />
        }
    <div>
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Watch", new { id = episode.EpisodeID })">
                    <img class="img-thumbnail" style="width: 100%"  src="@Url.Action("GetEpisodeThumb", new { id = episode.EpisodeID })"/></a>
            </div>
            <div class="col-md-6" style="margin-top: 10px;">
                @if (episode.Season > 0) {
                <p><b>Season: </b>@episode.Season</p>
                <p><b>Episode: </b>@episode.EpisodeNumber</p>
             }
            <p><b>@episode.Name</b></p>
                <p>@episode.Summary</p>
            </div>
        </div>
    </div>
    }
}