@model TvTuner.Episode

@{
    ViewBag.Title = @ViewBag.ChannelName;
}

<script type="text/javascript">
    $(document).ready(function () {

        $("video").on("ended", function () {
                window.location = "../WatchChannel/" + $("#channelID").val();

        });
    });


</script>

<input type="hidden" id="channelID" value="@ViewBag.ChannelID"/>
<div class="text-center">
    
    <h3><a href="@Url.Action("WatchChannel", new { id=ViewBag.ChannelID})" >Season @Model.Season Episode @Model.EpisodeNumber - @Model.Name</a></h3>
    <video width="932" height="700" controls="controls" autoplay="autoplay">
        <source src="@Model.VideoPath" type="video/mp4"/>
    </video>
</div>