@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TvTunerService.Models.BrowseEztvModel>
@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class=" input-group">
            <input type="text" class="form-control" placeholder="Show title..." id="searchTerm" />
            <span class="input-group-btn">
                <button class=" btn btn-default" type="button" id="SearchShows">Search</button>
            </span>
        </div>
    </div>
</div>

@{
    var showResultsStyle = (Model.Episodes != null) ? "display:none;" : "";
    var showEpisodesStyle = (Model.Episodes != null) ? "" : "display:none;";
}

<div id="ShowResults" style="@showResultsStyle">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="hidden">Show ID</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th></th> <!--Button column-->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var show in Model.Shows) {
                        <tr>
                            <td class='showId hidden'>@show.Id</td>
                            <td class='showTitle'> @show.Title</td>
                            <td class='showStatus'>@show.Status</td>
                            <td><button type='button' class='btn btn-default getShowBtn'>Get Episodes</button></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="EpisodeResults" style="@showEpisodesStyle">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="hidden"></th>
                        <th id="episodeShowTitle" colspan="2">@(Model.Episodes != null ? Model.Episodes.ShowTitle : "Show Name")</th>
                        <th id="episodeCount" colspan="2">@(Model.Episodes != null ? Model.Episodes.Episodes.Count : 0) Episodes</th>
                    </tr>
                    <tr>
                        <th class="hidden">Episode ID</th>
                        <th>Season</th>
                        <th>Episode</th>
                        <th>Title</th>
                        <th></th> <!--button column to add to library-->
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Episodes != null) {
                        foreach (var episode in Model.Episodes.Episodes) {
                            <tr>
                                <td class='episodeId hidden'>@episode.ID</td>
                                <td class='episodeSeason'>@episode.Season</td>
                                <td class='episodeNumber'>@episode.EpisodeNum</td>
                                <td class='episodeTitle'>@episode.Title </td>
                                <td class="addToLibrary">
                                    @if (!episode.InLibrary) {
                                        <button type='button' class='btn btn-default addEpisode' data-magnet='@episode.Magnet'>Add Episode</button>
                                    } else {
                                        <span class='label label-success'>In Library</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("Views/Home/ShowInfo")


    <script>
        $(function () {
            $("#EpisodeResults").on("click", ".addEpisode", function () {
                tvtuner.spinner.spin(document.getElementById('EpisodeResults'));
                tvtuner.ClearModal();
                var magnet = $(this).data("magnet");
                var showName = $("#episodeShowTitle").text();
                var season = $(this).parents("tr").find(".episodeSeason").text();
                var episodeNum = $(this).parents("tr").find(".episodeNumber").text();


                $.post(
                    tvtuner.getBaseURL() + "EZTV/AddToLibrary",
                    {
                        ShowName: showName,
                        MagnetLink: magnet,
                        Season: season,
                        EpisodeNumber: episodeNum
                    },
                    function (data) {
                        tvtuner.spinner.stop();
                        if (data.indexOf("Success") >= 0) {
                            //alert(data);
                            $("#modalShowName").val(showName);
                            $("#modalEpisodeSeason").val(season);
                            $("#modalEpisodeNum").val(episodeNum);
                            $("#originalShowName").val(showName);
                            $("#showModal").modal();

                            console.log(data);
                            console.log(data.split(" "));
                            var id = data.split(" ")[2];
                            $("#originalEpisodeId").val(id);

                            tvtuner.GetShowInformationFromRepository($("#modalShowName").val(), tvtuner.LookupShow);
                            tvtuner.GetEpisodeInformationFromRepository(id, tvtuner.LookupEpisode);

                        } else {
                            alert(data);
                        }
                    }
                );

            });

            $("#ShowResults").on("click", ".getShowBtn", function () {
                console.log(this);
                var id = $(this).parents("tr").find("td.showId").text();
                var title = $(this).parents("tr").find("td.showTitle").text();
                console.log(id);
                tvtuner.spinner.spin(document.getElementById('ShowResults'));
                $("#EpisodeResults tbody").html("");
                document.location.search = "?q=" + title + "&episodes=true";
            });

            $("#SearchShows").on("click", function () {
                $("#EpisodeResults").fadeOut(function () {
                    $("#ShowResults").fadeIn();
                });
                $("#ShowResults tbody").html("");
                var fragment = $("#searchTerm").val();
                tvtuner.spinner.spin(document.getElementById('ShowResults'));
                window.location.search = "?q=" + fragment;
            });

            $("#searchTerm").on("keypress", function (e) {
                if (e.keyCode === 13) {
                    $("#SearchShows").click();
                }
            });
        });
    </script>
